<head>
<style>
  body {
      text-align: center;
      padding: 300px;

  }
  form {
      display: inline-block;
  }
  </style>
</head>
<body>
  <p style="text-align:center"><img alt="Maploitic - Job listings from emploitic.com visualized" src="https://ckeditor.com/apps/ckfinder/userfiles/files/emploiticlogo.png" style="height:267px; width:300px&lt;/p&gt;
  <p style="text-align:center"><span style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif"><strong><span style="font-size:24px">Welcome to </span></strong></span><span style="font-family:Tahoma,Geneva,sans-serif"><strong><span style="font-size:20px"><em>MAPLOITIC</em> </span></strong></span><span style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif"><strong><span style="font-size:20px">!</span></strong></span></p>

<p style="text-align:center"><span style="font-family:Lucida Sans Unicode,Lucida Grande,sans-serif"><strong><span style="font-size:20px">visualizing job announcement from emploitic.com on a map</span></strong></span></p>

  <form method="POST">
    <input name="text">
    <input type="submit" value="Enter Job Title" />
  </form>
table input[type="submit"] {
    display: block;
    margin: 0 auto;
} 

    
</body>
